body {
	font-family: Segoe UI;
	margin: 0 2% 2% 2%;
}
.home {
	text-align: center;
	background-color: #E8534E;
}
.home {
	background-image: url("../img/bg-1.jpg");
	height: 500px;
	opacity: 0.75;
}
.home h1 {
	font-size: 70px;
	color: white;
}
.home p {
	font-size: 18px;
	color: white;
}
.book {
	border-radius: 8px;
	height: 60px;
	width: 150px;
	font-weight: bold;
}
.book:hover {
	background-color: #a22020;
	color: white;
}
.about {
	width: 100%;
	height: 500px;
	text-align: center;
	background-color: #E8534E;	
}
.about h1 {
	font-size: 60px;
}
.about p {
	font-size: 18px;
	margin: 0 5% 0 5%;
}
.mv .left {
	background-color: #E8534E;
	width: 50%;
	height: 350px;
	float: left;
	text-align: center;
}
.mv .right {
	background-color: #E8534E;
	width: 50%;
	height: 350px;
	float: right;
	text-align: center;
}
.mv p {
	margin: 0 7% 0 7%;
	text-align: justify;
	font-size: 18px;
}
.serv .left {
	text-align: center;
	background-color: #E8534E;
	width: 50%;
	height: 720px;
	float: left;
}
.serv .right {
	background-color: #E8534E;
	width: 50%;
	height: 720px;
	float: right;
}
.serv .right p {
	font-weight: bold;
	font-size: 18px;
}
.con .left {
	text-align: center;
	background-color: #E8534E;
	width: 50%;
	height: 500px;
	float: left;
}
.con .right {
	background-color: #E8534E;
	width: 50%;
	height: 500px;
	float: right;
}
input, select, textarea {
	border-style: none;
	border-bottom: 2px solid #a22020;
}
input[type="submit"] {
	border: 2px solid #a22020;
	font-size: 18px;
}
input[type="submit"]:hover {
	background-color: #a22020;
	border: 2px solid #fff;
	color: #fff;
}
.modal-body p {
	font-size: 16px;
}
input:focus, select:focus, textarea:focus {
	outline: none;
}